.section {
    margin: 10px;
}

.section__header {
    text-align: center;
    background-color: #221c15;
    color: #ffee00;
    border: 1px solid #000000;
    border-radius: 10px;
}

.section__header--lightTheme {
    background-color: #a1a18e;
}

.section__subHeader {
    text-align: center;
}

.section__creators {
    text-align: center;
}

.section__photo {
    display: block;
    margin: 20px auto;
    width: 100%;
    max-width: 600px;
}

.section__photo--display {
    display: none;
}

.section__link {
    text-decoration: none;
    color: #272121;
}

.section__link--important {
    color: #dc143c;
}